* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid red;
  height: 700px;
  display: grid;
  row-gap: 18px;
  column-gap: 6px;
  /* grid-template-columns: repeat(auto-fill, 100px); */
  grid-template-columns: 200px 200px 200px;
  /* grid-template-rows: repeat(auto-fill, 200px); */
  /* grid-template-rows: 150px 70px 110px; */
  /* grid-template-rows: 100px 4em 40px; */
  /* grid-template-rows: 1fr 2fr 1fe; */
  /* align-content: center; */
  /* align-items: center; */
  /* justify-content: baseline; */
}

.box{
    border: 2px solid green;
    /* width: 80px;
    gap: 10px; */
    padding: 12px;
}

#box-1{
    background-color:bisque;
    /* align-self: center; */
    /* justify-self: start; */
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 1 / 4; */
    /* grid-row: 1 / 4; */
    /* grid-area: 2 / 1 / 2 /3; */
}
