* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  font-size: 1.3rem;
}
.container {
  min-height: 100vh;
  display: flex;
  text-align: justify;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, #041308, #0b3317);
}

.left {
  flex-basis: 30%;
}
.right {
  flex-basis: 50%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
}

.left h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.left p {
  color: #ddd;
  margin: 8px;
  text-align: center;
}

.child-imgs{
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;

}

.child-imgs:hover{
    background-color: #999;
    background-position: top;
    box-shadow: 0 0 #fff;
}

.row-2{
    grid-row: span 2;
}

.col-2{
    grid-column: span 2;
}