* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
  
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
  animation: orbit 2s infinite ;
}

.box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightgray;
  /* transition: 1s ease-out; */
  /* animation-name: shiftTheBox; */
  /* animation-name: slide-in; */
  /* animation-name: orbit; */
  /* animation-duration: 5s; */
  /* animation-delay: 2s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate-reverse; */
  animation-timing-function: linear;
  animation-fill-mode: none;
}

/* .box:hover{
    transform: translate(220px);
} */



@keyframes orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-220px);
  }
  100% {
    transform: translate(220px);
  }
}

@keyframes shiftTheBox {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(220px, 0);
  }
  50% {
    transform: translate(220px, 220px);
  }
  75% {
    transform: translate(0, 220px);
  }
}


.loader{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* animation: laoding 1s ease-in infinite alternate; */
}
.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: loading 1s ease-in infinite alternate ;
}
.dot:nth-child(even){
    animation-delay: 0.1s;
}


@keyframes loading{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}