* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 400px;
  border: 2px solid red;
  display: flex;

  /* row(default), row-reverse, column, column reverse */
  flex-direction: row;

  /* wrap, nowrap(defaut), wrap-reverse */
  flex-wrap: wrap; 
  /* flex-wrap: wrap-reverse; */


    row-gap: 10px;
    column-gap: 10px; 
    /* gap: 10px; */

  /* shorthand for flex wrap and flex direction */
  flex-flow: wrap row;

  /* flex-start(default), flex-end ,center, space-around, space-evenly */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
/* alignment along y-axis */
/* align-item: strach; */
  align-items: flex-start;
  align-content: center;
}

.box{
    border: 2px solid green;
    /* margin: 10px 0px; */
    width: 80px;
}

/* flex property for the child tags */

#box-1{
  /* order: 1; */
  /* flex-grow: 1; */
  /* flex-shrink: 2; */
  /* flex-basis: 25%; */
}
 #box-3{
  /* order: 2; */
  /* flex-grow: 3; */
 }
