.outer-container{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    margin:80px auto;
}

.inner-container{
    width: 200px;
    height: 200px;
    background-color: brown;
    /* transform: scalex(1.2); */
    /* transform: scaley(1.2); */
    /* transform: scale(1.2, 1.5); */

    /* transform: skewx(20deg); */
    /* transform: skewy(20deg); */
    /* transform: skewz(20deg); */

    /* transform: skew(40deg, 10deg); */

    
    /* transform-origin: top left; */
    /* transform: rotate(45deg);  */

    /* transform: translate(20px, 80px); */

    transition: 0.6s ease;
}

.inner-container:hover{
    transform: rotate(70deg);
}