.box{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: blueviolet;
    /* transition: 2s ; */
    transition-duration: 1s;
    transition-property: background-color, border-radius, transform;
    transition-delay: 0.5s;
    /* transition-timing-function: ease-in-out ; */
    transition-timing-function: cubic-bezier(0.83,-0.25, 0.57, 1);
}

.box:hover{
    background-color: chartreuse;
    border-radius: 50%;
    transform: rotate(135deg);
}

nav{
    /* background-color: black;
    color: #fff; */
}
.list{
    display: flex;
    gap: 20px;
    list-style: none;

}

.item{
    font-size: 1.2rem;
    transition: 0.2s ease-in;

}

.item:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    transform: translateY(-10px);
}