h1 {
  color: palevioletred;
  background-color: darkslategray;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  text-align: justify;
  text-indent: 20px;
  color: transparent;
  text-shadow: 3px 3px 1px red;
}
